<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 
    - primary meta tag
  -->
    <title>AIfinity - The Best Platform for learning Online.</title>
    <meta
      name="title"
      content="AIfinity - The Best Platform for learning Online."
    />

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="/images/logo1.png" type="image/svg+xml" />

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="/css/bootstrap-icons/bootstrap-icons.css" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/css/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!--  *****   Link To Font Awsome Icons   *****  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- 
    - preload images
  -->
    <link href="/images/hero-bg.svg" />
    <link rel="preload" as="image" href="/images/hero-banner-1.jpg" />
    <link rel="preload" as="image" href="/images/hero-banner-2.jpg" />
    <link rel="preload" as="image" href="/images/hero-shape-1.svg" />
    <link rel="preload" as="image" href="/images/hero-shape-2.png" />
  </head>

  <body id="top">
    <!-- 
    - #HEADER
  -->

    <header class="header" data-header>
      <div class="container">
        <a href="/index" class="logo">
          <img
            src="/images/logo.png"
            width="110"
            height="50"
            alt="EduWeb logo"
          />
        </a>

        <nav class="navbar" data-navbar>
          <div class="wrapper">
            <a href="/index" class="logo">
              <img
                src="/images/logo.png"
                width="110"
                height="50"
                alt="EduWeb logo"
              />
            </a>

            <button
              class="nav-close-btn"
              aria-label="close menu"
              data-nav-toggler
            >
              <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
            </button>
          </div>

          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="#home" class="navbar-link" data-nav-link>Home</a>
            </li>

            <li class="navbar-item">
              <a href="#about" class="navbar-link" data-nav-link>About</a>
            </li>

            <li class="navbar-item">
              <a href="#courses" class="navbar-link" data-nav-link>Courses</a>
            </li>

            <li class="navbar-item">
              <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
            </li>
            <% if(locals.Name){ %>
              <form action="/enviornment" method="post">
            <li class="navbar-item">
              <input type="submit" value="Environment" class="navbar-link" 
              >
              </li>
              </form>
              <li class="navbar-item">
              <a href="/resource" class="navbar-link" data-nav-link
                >Resources</a
              >
              </li>
              <li class="navbar-item">
              <a href="/payment" class="navbar-link" data-nav-link
                >Payment</a
              >
            </li>
            <% } %> <% if(!locals.Name){ %>
            <li class="navbar-item">
              <a href="./login" class="btn has-before">
                <span class="span">Try for free</span>

                <ion-icon
                  name="arrow-forward-outline"
                  aria-hidden="true"
                ></ion-icon>
                <% } %>
              </a>
            </li>
          </ul>
        </nav>
        <div class="header-actions">
          <div class="img-name-container">
            <% if(locals.Name){ %>
            <img
              src="/images/user.png"
              class="user-pic"
              onclick="toggleMenu()"
            />
            <p class="img-container-text"><%= locals.Name %></p>
            <% }else{ %> <% } %>
          </div>
          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <img src="/images/user.png" />
                <h2>
                  <% if(locals.Name){ %> <%= locals.Name %> <% }else{ %> Harshit
                  <% } %>
                </h2>
              </div>
              <hr />
              <a href="/profile" class="sub-menu-link">
                <img src="/images/profile.png" />
                <p>Edit Profile</p>
                <span>></span>
              </a>
              <a href="/resource" class="sub-menu-link">
                <img src="/images/setting.png" />
                <p>Resources</p>
                <span>></span>
              </a>
              <a href="/contact" class="sub-menu-link">
                <img src="/images/help.png" />
                <p>Contact</p>
                <span>></span>
              </a>
              <a href="/" class="sub-menu-link">
                <img src="/images/logout.png" />
                <p>Logout</p>
                <span>></span>
              </a>
            </div>
          </div>

          <button
            class="header-action-btn"
            aria-label="open menu"
            data-nav-toggler
          >
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </button>
        </div>
        <div class="overlay" data-nav-toggler data-overlay></div>
      </div>
    </header>

    <main>
      <article>
        <!-- 
        - #HERO
      -->
        <section id="home" class="hero section1">
          <img src="/images/hero-banner-1.jpg" alt="" data-aos="fade-in" />

          <div class="container">
            <h2 data-aos="fade-up" data-aos-delay="100" class="">
              Learning Today,<br />Leading Tomorrow
            </h2>
            <p data-aos="fade-up" data-aos-delay="200">
              We provide best and customized content for you.
            </p>
            <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
              <a href="courses" class="btn-get-started">Get Started</a>
            </div>
          </div>
        </section>

        <!-- 
        - #CATEGORY
      -->

        <section class="section category" aria-label="category">
          <div class="container">
            <p class="section-subtitle">Categories</p>

            <h2 class="h2 section-title">
              Online <span class="span">Classes</span> For Remote Learning.
            </h2>

            <p class="section-text">
              Get best content available Online.
            </p>

            <ul class="grid-list">
              <li>
                <div class="category-card" style="--color: 170, 75%, 41%">
                  <div class="card-icon">
                    <img
                      src="/images/category-1.svg"
                      width="40"
                      height="40"
                      loading="lazy"
                      alt="Online Degree Programs"
                      class="img"
                    />
                  </div>

                  <h3 class="h3">
                    <a href="#" class="card-title">Online Degree Programs</a>
                  </h3>

                  <p class="card-text">
                    Chance to have a degree from reputed Institute.
                  </p>

                  <span class="card-badge">7 Courses</span>
                </div>
              </li>

              <li>
                <div class="category-card" style="--color: 351, 83%, 61%">
                  <div class="card-icon">
                    <img
                      src="/images/category-2.svg"
                      width="40"
                      height="40"
                      loading="lazy"
                      alt="Non-Degree Programs"
                      class="img"
                    />
                  </div>

                  <h3 class="h3">
                    <a href="#" class="card-title">Non-Degree Programs</a>
                  </h3>

                  <p class="card-text">
                    Add-on extra skills to your personality.
                  </p>

                  <span class="card-badge">4 Courses</span>
                </div>
              </li>

              <li>
                <div class="category-card" style="--color: 229, 75%, 58%">
                  <div class="card-icon">
                    <img
                      src="/images/category-3.svg"
                      width="40"
                      height="40"
                      loading="lazy"
                      alt="Off-Campus Programs"
                      class="img"
                    />
                  </div>

                  <h3 class="h3">
                    <a href="#" class="card-title">Off-Campus Programs</a>
                  </h3>

                  <p class="card-text">
                    Get End-to-end communication with different Companies.
                  </p>

                  <span class="card-badge">8 Courses</span>
                </div>
              </li>

              <li>
                <div class="category-card" style="--color: 42, 94%, 55%">
                  <div class="card-icon">
                    <img
                      src="/images/category-4.svg"
                      width="40"
                      height="40"
                      loading="lazy"
                      alt="Hybrid Distance Programs"
                      class="img"
                    />
                  </div>

                  <h3 class="h3">
                    <a href="#" class="card-title">Hybrid Distance Programs</a>
                  </h3>

                  <p class="card-text">
                    Now distance Could not be the barrier for anyone.
                  </p>

                  <span class="card-badge">8 Courses</span>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <!-- 
        - #ABOUT
      -->

        <section class="section about" id="about" aria-label="about">
          <div class="container">
            <figure class="about-banner">
              <div class="img-holder" style="--width: 520; --height: 370">
                <img
                  src="/images/about-banner.jpg"
                  width="520"
                  height="370"
                  loading="lazy"
                  alt="about banner"
                  class="img-cover"
                />
              </div>

              <img
                src="/images/about-shape-1.svg"
                width="360"
                height="420"
                loading="lazy"
                alt=""
                class="shape about-shape-1"
              />

              <img
                src="/images/about-shape-2.svg"
                width="371"
                height="220"
                loading="lazy"
                alt=""
                class="shape about-shape-2"
              />

              <img
                src="/images/about-shape-3.png"
                width="722"
                height="528"
                loading="lazy"
                alt=""
                class="shape about-shape-3"
              />
            </figure>

            <div class="about-content">
              <p class="section-subtitle">About Us</p>

              <h2 class="h2 section-title">
                Revolutionising the Learning era with <span class="span">AI features</span> for
                better learning
              </h2>

              <p class="section-text">
                With AI integration we are providing the best learning experience for students.
                Customize your learning with us and learn from anywhere without any distractions.
              </p>

              <ul class="about-list">
                <li class="about-item">
                  <ion-icon
                    name="checkmark-done-outline"
                    aria-hidden="true"
                  ></ion-icon>

                  <span class="span">Expert Trainers</span>
                </li>

                <li class="about-item">
                  <ion-icon
                    name="checkmark-done-outline"
                    aria-hidden="true"
                  ></ion-icon>

                  <span class="span">Online Remote Learning</span>
                </li>

                <li class="about-item">
                  <ion-icon
                    name="checkmark-done-outline"
                    aria-hidden="true"
                  ></ion-icon>

                  <span class="span">Lifetime Access</span>
                </li>
              </ul>

              <img
                src="/images/about-shape-4.svg"
                width="100"
                height="100"
                loading="lazy"
                alt=""
                class="shape about-shape-4"
              />
            </div>
          </div>
        </section>

        <!--   *** Partners Section Starts ***   -->
        <section class="partners">
          <h3>Our trusted partners around the world</h3>
          <div class="owl-carousel owl-theme partners-slider">
            <div class="item brand-item">
              <img src="/images/brand-logos/matoontapa.png" />
            </div>
            <div class="item brand-item">
              <img src="/images/brand-logos/lovely.jpg" />
            </div>
            <div class="item brand-item">
              <img src="/images/brand-logos/khostan.png" />
            </div>
            <div class="item brand-item">
              <img src="/images/brand-logos/etimadya.png" />
            </div>
            <div class="item brand-item">
              <img src="/images/brand-logos/torghar.png" />
            </div>
            <div class="item brand-item">
              <img src="/images/brand-logos/nadershakot.png" />
            </div>
            <div class="item brand-item">
              <img src="/images/brand-logos/almarah.png" />
            </div>
          </div>
        </section>

        <!-- 
        - #COURSE
      -->

        <section class="section course" id="courses" aria-label="course">
          <div class="container">
            <p class="section-subtitle">Popular Courses</p>

            <h2 class="h2 section-title">Pick A Course To Get Started</h2>

            <ul class="grid-list">
              <li>
                <div class="course-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 370; --height: 220"
                  >
                    <img
                      src="/images/course-1.jpg"
                      width="370"
                      height="220"
                      loading="lazy"
                      alt="Build Responsive Real- World Websites with HTML and CSS"
                      class="img-cover"
                    />
                  </figure>

                  <div class="abs-badge">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                    <span class="span">3 Weeks</span>
                  </div>

                  <div class="card-content">
                    <span class="badge">Beginner</span>

                    <h3 class="h3">
                      <a href="#" class="card-title"
                        >Build Responsive Real- World Websites with HTML and
                        CSS</a
                      >
                    </h3>

                    <div class="wrapper">
                      <div class="rating-wrapper">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>

                      <p class="rating-text">(5.0/7 Rating)</p>
                    </div>

                    <data class="price" value="29">$29.00</data>

                    <ul class="card-meta-list">
                      <li class="card-meta-item">
                        <ion-icon
                          name="library-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">8 Lessons</span>
                      </li>

                      <li class="card-meta-item">
                        <ion-icon
                          name="people-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">20 Students</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div class="course-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 370; --height: 220"
                  >
                    <img
                      src="/images/course-2.jpg"
                      width="370"
                      height="220"
                      loading="lazy"
                      alt="Java Programming Masterclass for Software Developers"
                      class="img-cover"
                    />
                  </figure>

                  <div class="abs-badge">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                    <span class="span">8 Weeks</span>
                  </div>

                  <div class="card-content">
                    <span class="badge">Advanced</span>

                    <h3 class="h3">
                      <a href="#" class="card-title"
                        >Java Programming Masterclass for Software Developers</a
                      >
                    </h3>

                    <div class="wrapper">
                      <div class="rating-wrapper">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>

                      <p class="rating-text">(4.5 /9 Rating)</p>
                    </div>

                    <data class="price" value="49">$49.00</data>

                    <ul class="card-meta-list">
                      <li class="card-meta-item">
                        <ion-icon
                          name="library-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">15 Lessons</span>
                      </li>

                      <li class="card-meta-item">
                        <ion-icon
                          name="people-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">35 Students</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div class="course-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 370; --height: 220"
                  >
                    <img
                      src="/images/course-3.jpg"
                      width="370"
                      height="220"
                      loading="lazy"
                      alt="The Complete Camtasia Course for Content Creators"
                      class="img-cover"
                    />
                  </figure>

                  <div class="abs-badge">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                    <span class="span">3 Weeks</span>
                  </div>

                  <div class="card-content">
                    <span class="badge">Intermediate</span>

                    <h3 class="h3">
                      <a href="#" class="card-title"
                        >The Complete Camtasia Course for Content Creators</a
                      >
                    </h3>

                    <div class="wrapper">
                      <div class="rating-wrapper">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>

                      <p class="rating-text">(4.9 /7 Rating)</p>
                    </div>

                    <data class="price" value="35">$35.00</data>

                    <ul class="card-meta-list">
                      <li class="card-meta-item">
                        <ion-icon
                          name="library-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">13 Lessons</span>
                      </li>

                      <li class="card-meta-item">
                        <ion-icon
                          name="people-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">18 Students</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>

            <a href="courses" class="btn has-before">
              <span class="span">Browse more courses</span>

              <ion-icon
                name="arrow-forward-outline"
                aria-hidden="true"
              ></ion-icon>
            </a>
          </div>
        </section>

        <!-- 
        - #VIDEO
      -->

        <section
          class="video has-bg-image"
          aria-label="video"
          style="background-image: url('/images/video-bg.png')"
        >
          <div class="container">
            <div class="video-card">
              <div
                class="video-banner img-holder has-after"
                style="--width: ; --height: "
              >
                <img
                  src="/images/video-banner.jpg"
                  width="970"
                  height="550"
                  loading="lazy"
                  alt="video banner"
                  class="img-cover"
                />

                <button class="play-btn" aria-label="play video">
                  <ion-icon name="play" aria-hidden="true"></ion-icon>
                </button>
              </div>

              <img
                src="/images/video-shape-1.png"
                width="1089"
                height="605"
                loading="lazy"
                alt=""
                class="shape video-shape-1"
              />

              <img
                src="/images/video-shape-2.png"
                width="158"
                height="174"
                loading="lazy"
                alt=""
                class="shape video-shape-2"
              />
            </div>
          </div>
        </section>

        <!-- 
        - #STATE
      -->

        <section class="section stats" aria-label="stats">
          <div class="container">
            <ul class="grid-list">
              <li>
                <div class="stats-card" style="--color: 170, 75%, 41%">
                  <h3 class="card-title">29.3k</h3>

                  <p class="card-text">Student Enrolled</p>
                </div>
              </li>

              <li>
                <div class="stats-card" style="--color: 351, 83%, 61%">
                  <h3 class="card-title">32.4K</h3>

                  <p class="card-text">Class Completed</p>
                </div>
              </li>

              <li>
                <div class="stats-card" style="--color: 260, 100%, 67%">
                  <h3 class="card-title">100%</h3>

                  <p class="card-text">Satisfaction Rate</p>
                </div>
              </li>

              <li>
                <div class="stats-card" style="--color: 42, 94%, 55%">
                  <h3 class="card-title">354+</h3>

                  <p class="card-text">Top Instructors</p>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <!-- Trainers-->
        <section class="section trainers" aria-label="trainers" id="trainer">
          <div class="container">
            <p class="section-subtitle">OUR MENTORS</p>

            <h2 class="h2 section-title">
              Online <span class="span">Classes</span> For Remote Learning.
            </h2>

            <p class="section-text">
              Explore Our Star Mentors.
            </p>

            <ul class="grid-list">
              <li>
                <div class="category-card" style="--color: 351, 83%, 61%">
                  <div>
                    <div class="img-holder1">
                      <img src="/images/trainers/trainer-3.jpg" width="200px" />
                    </div>
                    <h4 class="h2">David Thompson</h4>
                    <span class="section-text">Full-Stack Technical Architect</span>
                    <p>
                      Specializes in designing and implementing complex, enterprise-level applications, with a strong emphasis on performance and security optimization
                    </p>
                    <div class="trainer-social card-badge">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End Team Member -->
              </li>

              <li>
                <div class="category-card" style="--color: 351, 83%, 61%">
                  <div>
                    <div class="img-holder1">
                      <img src="/images/trainers/trainer-2.jpg" width="200px" />
                    </div>
                    <h4 class="h2">Sophie Nguyen</h4>
                    <span class="section-text">Full-Stack Development Manager</span>
                    <p>
                      Skilled in leading cross-functional teams to deliver high-quality software solutions, with a focus on continuous improvement and innovation
                    </p>
                    <div class="trainer-social card-badge">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End Team Member -->
              </li>

              <li>
                <div class="category-card" style="--color: 351, 83%, 61%">
                  <div>
                    <div class="img-holder1">
                      <img src="/images/trainers/trainer-1.jpg" width="200px" />
                    </div>
                    <h4 class="h2">Michael Patel</h4>
                    <span class="section-text">Lead Full-Stack Engineer</span>
                    <p>
                      Experienced in architecting scalable and robust systems, proficient in building and optimizing databases, APIs, and user interfaces, adept in cloud technologies
                    </p>
                    <div class="trainer-social card-badge">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End Team Member -->
              </li>

              <li>
                <div class="category-card" style="--color: 351, 83%, 61%">
                  <div>
                    <div class="img-holder1">
                      <img
                        src="/images/trainers/trainer-2-2.jpg"
                        width="200px"
                      />
                    </div>
                    <h4 class="h2">Jessica Garcia</h4>
                    <span class="section-text">Senior Full-Stack Developer</span>
                    <p>
                      Passionate about creating responsive and efficient web applications, with expertise in both front-end and back-end technologies, specializing in JavaScript frameworks
                    </p>
                    <div class="trainer-social card-badge">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
                <!-- End Team Member -->
              </li>
            </ul>
          </div>
        </section>

        <!-- 
        - #BLOG
      -->

        <section
          class="section blog has-bg-image"
          id="blog"
          aria-label="blog"
          style="background-image: url('/images/blog-bg.svg')"
        >
          <div class="container">
            <p class="section-subtitle">Latest Articles</p>

            <h2 class="h2 section-title">Get News With AIfinity</h2>

            <ul class="grid-list">
              <li>
                <div class="blog-card">
                  <figure
                    class="card-banner img-holder has-after"
                    style="--width: 370; --height: 370"
                  >
                    <img
                      src="/images/blog-1.jpg"
                      width="370"
                      height="370"
                      loading="lazy"
                      alt="Become A Better Blogger: Content Planning"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <a href="#" class="card-btn" aria-label="read more">
                      <ion-icon
                        name="arrow-forward-outline"
                        aria-hidden="true"
                      ></ion-icon>
                    </a>

                    <a href="#" class="card-subtitle">Online</a>

                    <h3 class="h3">
                      <a href="#" class="card-title"
                        >Stay Motivated and keep learning: Motivational Piece</a
                      >
                    </h3>

                    <ul class="card-meta-list">
                      <li class="card-meta-item">
                        <ion-icon
                          name="calendar-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">April 20, 2024</span>
                      </li>

                      <li class="card-meta-item">
                        <ion-icon
                          name="chatbubbles-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">Com 09</span>
                      </li>
                    </ul>

                    <p class="card-text">
                      Motivation is the driving force that empowers us to turn dreams into reality and challenges into achievements.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="blog-card">
                  <figure
                    class="card-banner img-holder has-after"
                    style="--width: 370; --height: 370"
                  >
                    <img
                      src="/images/blog-2.jpg"
                      width="370"
                      height="370"
                      loading="lazy"
                      alt="Become A Better Blogger: Content Planning"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <a href="#" class="card-btn" aria-label="read more">
                      <ion-icon
                        name="arrow-forward-outline"
                        aria-hidden="true"
                      ></ion-icon>
                    </a>

                    <a href="#" class="card-subtitle">Online</a>

                    <h3 class="h3">
                      <a href="#" class="card-title"
                        >Learn the art of living Happily: Mental Health</a
                      >
                    </h3>

                    <ul class="card-meta-list">
                      <li class="card-meta-item">
                        <ion-icon
                          name="calendar-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">April 10, 2024</span>
                      </li>

                      <li class="card-meta-item">
                        <ion-icon
                          name="chatbubbles-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">Com 09</span>
                      </li>
                    </ul>

                    <p class="card-text">
                      "Mental health problems don’t define who you are. You walk in the rain and you feel the rain, but, importantly, YOU ARE NOT THE RAIN.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="blog-card">
                  <figure
                    class="card-banner img-holder has-after"
                    style="--width: 370; --height: 370"
                  >
                    <img
                      src="/images/blog-3.jpg"
                      width="370"
                      height="370"
                      loading="lazy"
                      alt="Become A Better Blogger: Content Planning"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <a href="#" class="card-btn" aria-label="read more">
                      <ion-icon
                        name="arrow-forward-outline"
                        aria-hidden="true"
                      ></ion-icon>
                    </a>

                    <a href="#" class="card-subtitle">Online</a>

                    <h3 class="h3">
                      <a href="#" class="card-title"
                        >Explore your potential:Meditaion Session </a
                      >
                    </h3>

                    <ul class="card-meta-list">
                      <li class="card-meta-item">
                        <ion-icon
                          name="calendar-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">April 15, 2024</span>
                      </li>

                      <li class="card-meta-item">
                        <ion-icon
                          name="chatbubbles-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">Com 09</span>
                      </li>
                    </ul>

                    <p class="card-text">
                      The more regularly and the more deeply you meditate, the sooner you will find yourself acting always from a center of inner peace.
                    </p>
                  </div>
                </div>
              </li>
            </ul>

            <img
              src="/images/blog-shape.png"
              width="186"
              height="186"
              loading="lazy"
              alt=""
              class="shape blog-shape"
            />
          </div>
        </section>

        <!--   * Testimonials Section Starts *   -->
<section class="testimonials" id="testimonials">
	<!--   === Testimonials Section Header Starts ===   -->
	<header class="section-header">
		<h1>Testimonials</h1>
		<p>Here are some of the testimonials given by our learners.</p>
	</header>
	<!--   === Testimonials Section Header Ends ===   -->
	<!--   === Testimonials Contents Starts ===   -->
	<div class="owl-carousel owl-theme testimonials-slider">

    	<div class="item testimonials-item">
    		<div class="profile">
    			<div class="profile-image">
    				<img src="/images/trainers/trainer-1.jpg">
    			</div>
    			<div class="profile-desc">
    				<span>Sarah Johnson</span>
    				<span>Description</span>
    			</div>
    		</div>
    		<p>The distraction-free learning environment provided by the platform is exceptional! It has helped me stay focused and learn without interruptions. The AI-based setup is a game-changer for productive studying.</p>
    		<div class="quote">
    			<i class="fa fa-quote-left"></i>
    		</div>
    		<div class="ratings">
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    		</div>
    	</div>

      <div class="item testimonials-item">
    		<div class="profile">
    			<div class="profile-image">
    				<img src="/images/trainers/trainer-1.jpg">
    			</div>
    			<div class="profile-desc">
    				<span>Samantha Lee</span>
    				<span>Description</span>
    			</div>
    		</div>
    		<p>I am amazed at how the platform finds the best learning resources for me based on my syllabus. It has saved me countless hours of research and provided me with tailored study materials, making my learning journey much smoother.</p>
    		<div class="quote">
    			<i class="fa fa-quote-left"></i>
    		</div>
    		<div class="ratings">
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    		</div>
    	</div>

      <div class="item testimonials-item">
    		<div class="profile">
    			<div class="profile-image">
    				<img src="/images/trainers/trainer-1.jpg">
    			</div>
    			<div class="profile-desc">
    				<span>David Smith</span>
    				<span>Description</span>
    			</div>
    		</div>
    		<p>Earning money while learning sounded too good to be true, but with this platform, it's a reality! The ability to redeem points for rewards has motivated me to stay engaged and has made my learning experience.</p>
    		<div class="quote">
    			<i class="fa fa-quote-left"></i>
    		</div>
    		<div class="ratings">
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    		</div>
    	</div>

      <div class="item testimonials-item">
    		<div class="profile">
    			<div class="profile-image">
    				<img src="/images/trainers/trainer-1.jpg">
    			</div>
    			<div class="profile-desc">
    				<span>Aiden Thompson</span>
    				<span>Description</span>
    			</div>
    		</div>
    		<p>The distraction-free learning environment created by the platform has been a game-changer. I've been able to concentrate on my studies without any interruptions, leading to a significant improvement in my focus.</p>
    		<div class="quote">
    			<i class="fa fa-quote-left"></i>
    		</div>
    		<div class="ratings">
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    		</div>
    	</div>

      <div class="item testimonials-item">
    		<div class="profile">
    			<div class="profile-image">
    				<img src="/images/trainers/trainer-1.jpg">
    			</div>
    			<div class="profile-desc">
    				<span>Natalie Rodriguez</span>
    				<span>Description</span>
    			</div>
    		</div>
    		<p>The platform's AI-powered resource discovery feature has been a lifesaver! It has consistently provided me with high-quality study materials tailored to my syllabus, making my learning process efficient and effective.</p>
    		<div class="quote">
    			<i class="fa fa-quote-left"></i>
    		</div>
    		<div class="ratings">
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    		</div>
    	</div>


      <div class="item testimonials-item">
    		<div class="profile">
    			<div class="profile-image">
    				<img src="/images/trainers/trainer-1.jpg">
    			</div>
    			<div class="profile-desc">
    				<span>Ethan Wilson</span>
    				<span>Description</span>
    			</div>
    		</div>
    		<p>Earning rewards while studying has been a fantastic experience. The redemption system has added a fun and rewarding element to my learning journey, further motivating me to engage with the platform and excel in my studies.</p>
    		<div class="quote">
    			<i class="fa fa-quote-left"></i>
    		</div>
    		<div class="ratings">
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    			<i class="fa-solid fa-star"></i>
    		</div>
    	</div>


	</div>
	<!--   === Testimonials Contents Ends ===   -->
</section>
<!--   * Testimonials Section Ends *   -->


      </article>
    </main>

    <!-- 
    - #FOOTER
  -->

  <footer
  class="footer"
  style="background-image: url('./assets/images/footer-bg.png')"
  id="contact"
>
  <div class="footer-top section">
    <div class="container grid-list">
      <div class="footer-brand">
        <a href="#" class="logo">
          <img
            src="/images/logo1.png"
            width="162"
            height="50"
            alt="EduWeb logo"
          />
        </a>

        <p class="footer-brand-text">
          With AI integration we are providing the best learning experience for students. Customize your learning with us and learn from anywhere without any distractions.
        </p>

        <div class="wrapper">
          <span class="span">Add:</span>

          <address class="address">Lovely Professional University,Punjab</address>
        </div>

        <div class="wrapper">
          <span class="span">Call:</span>

          <a href="tel:+011234567890" class="footer-link"
            >+01 123 4567 890</a
          >
        </div>

        <div class="wrapper">
          <span class="span">Email:</span>

          <a href="mailto:harshitjain1924@gmail.com" class="footer-link"
            >harshitjain1924@gmail.com</a
          >
        </div>
      </div>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Online Platform</p>
        </li>

        <li>
          <a href="/index#about" class="footer-link">About</a>
        </li>

        <li>
          <a href="/courses" class="footer-link">Courses</a>
        </li>

        <li>
          <a href="/index#trainer" class="footer-link">Instructor</a>
        </li>

        <li>
          <a href="/index#blog" class="footer-link">Blog</a>
        </li>

        <li>
          <a href="#" class="footer-link">Instructor Profile</a>
        </li>

        <li>
          <a href="#" class="footer-link">Purchase Guide</a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Links</p>
        </li>

        <li>
          <a href="/contact" class="footer-link">Contact Us</a>
        </li>

        <li>
          <a href="#" class="footer-link">Gallery</a>
        </li>

        <li>
          <a href="#" class="footer-link">News & Articles</a>
        </li>

        <li>
          <a href="#" class="footer-link">FAQ's</a>
        </li>

        <li>
          <a href="/login" class="footer-link">Sign In/Registration</a>
        </li>

        <li>
          <a href="#" class="footer-link">Coming Soon</a>
        </li>
      </ul>

      <div class="footer-list">
        <p class="footer-list-title">Contacts</p>

        <p class="footer-list-text">
          Enter your email address to register to our newsletter
          subscription
        </p>

        <form action="" class="newsletter-form">
          <input
            type="email"
            name="email_address"
            placeholder="Your email"
            required
            class="input-field"
          />

          <button type="submit" class="btn has-before">
            <span class="span">Subscribe</span>

            <ion-icon
              name="arrow-forward-outline"
              aria-hidden="true"
            ></ion-icon>
          </button>
        </form>

        <ul class="social-list">
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">
        Copyright 2024 All Rights Reserved by
        <a href="#" class="copyright-link">Harshit Jain</a>
      </p>
    </div>
  </div>
</footer>
    <!-- 
    - #BACK TO TOP
  -->

    <a
      href="#top"
      class="back-top-btn"
      aria-label="back top top"
      data-back-top-btn
    >
      <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
    </a>

    <!-- 
    - custom js link
  -->
    <script src="/js/script.js" defer></script>

    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
</html>
