<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn and Earn</title>
    <link rel="stylesheet" href="/css/learn.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />

    <!--  *****   Link To Font Awsome Icons   *****  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body>
    <header class="header" data-header>
      <div class="container">
        <a href="./index" class="logo">
          <img
            src="/images/logo.png"
            width="110"
            height="50"
            alt="EduWeb logo"
          />
        </a>

        <nav class="navbar" data-navbar>
          <div class="wrapper">
            <a href="./index" class="logo">
              <img
                src="/images/logo.png"
                width="110"
                height="50"
                alt="EduWeb logo"
              />
            </a>

            <button
              class="nav-close-btn"
              aria-label="close menu"
              data-nav-toggler
            >
              <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
            </button>
          </div>

          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="/index" class="navbar-link" data-nav-link>Home</a>
            </li>

            <li class="navbar-item">
              <a href="/resource" class="navbar-link" data-nav-link
                >Resources</a
              >
            </li>

            <li class="navbar-item">
              <a href="/index#courses" class="navbar-link" data-nav-link>Courses</a>
            </li>


            <li class="navbar-item">
              <a href="/environment" class="navbar-link" data-nav-link>Environment</a>
            </li>
            <% if(!locals.Name){%>
            <li class="navbar-item">
              <a href="/login" class="btn has-before">
                <span class="span">Try for free</span>

                <ion-icon
                  name="arrow-forward-outline"
                  aria-hidden="true"
                ></ion-icon>
              </a>
            </li>
            <% } %>
          </ul>
        </nav>

        <div class="header-actions">
          <div class="img-name-container">
            <img
              src="/images/user.png"
              class="user-pic"
              onclick="toggleMenu()"
            />
            <p class="img-container-text">
            <% if(locals.Name){ %>
            <%= locals.Name %>
              <% }else{ %>
                Amulya
            <% } %>
          </p>
          </div>
          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <img src="/images/user.png" />
                <h2>
                  <% if(locals.Name){ %>
                    <h2><%= locals.Name %></h2>
                    <% }else{ %>
                  <h2>James</h2>
                  <% } %>
                </h2> (<span id="subMenuPoints">0</span>points)
              </div>
              <hr />
              <a href="/profile" class="sub-menu-link">
                <img src="/images/profile.png" />
                <p>Edit Profile</p>
                <span>></span>
              </a>
              <a href="#profile" class="sub-menu-link">
                <img src="/images/setting.png" />
                <p>Settings & Privacy</p>
                <span>></span>
              </a>
              <a href="#profile" class="sub-menu-link">
                <img src="/images/help.png" />
                <p>Help & Support</p>
                <span>></span>
              </a>
              <a href="/" class="sub-menu-link">
                <img src="/images/logout.png" />
                <p>Logout</p>
                <span>></span>
              </a>
            </div>
          </div>

          <button
            class="header-action-btn"
            aria-label="open menu"
            data-nav-toggler
          >
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </button>
        </div>

        <div class="overlay" data-nav-toggler data-overlay></div>
      </div>
    </header>
    <div class="space"></div>
    <div class="container1">
      <h1>Learn and Earn</h1>
      <form id="uploadForm" enctype="multipart/form-data">
        <label for="audioFile">Upload Audio:</label>
        <input type="file" id="audioFile" accept="audio/*" /><br /><br />

        <label for="pdfFile">Upload PDF:</label>
        <input type="file" id="pdfFile" accept=".pdf" /><br /><br />
        <div style="display: flex; gap: 20px;">
        <button type="submit" class="button1">Upload</button>
        <button class="button1" style="background-color: white;" onclick="resetLocalStorage()">Reset</button>
        </div>
      </form>
      <div id="message"></div>
    </div>
    <div id="quiz">
      <h2>Quiz</h2>
      <div id="question"></div>
      <div id="options"></div>
      <div id="result"></div>
    </div>

  <footer
  class="footer"
  style="background-image: url('./assets/images/footer-bg.png')"
  id="contact"
>
  <div class="footer-top section">
    <div class="container grid-list">
      <div class="footer-brand">
        <a href="#" class="logo">
          <img
            src="/images/logo1.png"
            width="162"
            height="50"
            alt="EduWeb logo"
          />
        </a>

        <p class="footer-brand-text">
          With AI integration we are providing the best learning experience for students. Customize your learning with us and learn from anywhere without any distractions.
        </p>

        <div class="wrapper">
          <span class="span">Add:</span>

          <address class="address">Lovely Professional University,Punjab</address>
        </div>

        <div class="wrapper">
          <span class="span">Call:</span>

          <a href="tel:+011234567890" class="footer-link"
            >+01 123 4567 890</a
          >
        </div>

        <div class="wrapper">
          <span class="span">Email:</span>

          <a href="mailto:harshitjain1924@gmail.com" class="footer-link"
            >harshitjain1924@gmail.com</a
          >
        </div>
      </div>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Online Platform</p>
        </li>

        <li>
          <a href="/index#about" class="footer-link">About</a>
        </li>

        <li>
          <a href="/courses" class="footer-link">Courses</a>
        </li>

        <li>
          <a href="/index#trainer" class="footer-link">Instructor</a>
        </li>

        <li>
          <a href="/index#blog" class="footer-link">Blog</a>
        </li>

        <li>
          <a href="#" class="footer-link">Instructor Profile</a>
        </li>

        <li>
          <a href="#" class="footer-link">Purchase Guide</a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Links</p>
        </li>

        <li>
          <a href="/contact" class="footer-link">Contact Us</a>
        </li>

        <li>
          <a href="#" class="footer-link">Gallery</a>
        </li>

        <li>
          <a href="#" class="footer-link">News & Articles</a>
        </li>

        <li>
          <a href="#" class="footer-link">FAQ's</a>
        </li>

        <li>
          <a href="/login" class="footer-link">Sign In/Registration</a>
        </li>

        <li>
          <a href="#" class="footer-link">Coming Soon</a>
        </li>
      </ul>

      <div class="footer-list">
        <p class="footer-list-title">Contacts</p>

        <p class="footer-list-text">
          Enter your email address to register to our newsletter
          subscription
        </p>

        <form action="" class="newsletter-form">
          <input
            type="email"
            name="email_address"
            placeholder="Your email"
            required
            class="input-field"
          />

          <button type="submit" class="btn has-before">
            <span class="span">Subscribe</span>

            <ion-icon
              name="arrow-forward-outline"
              aria-hidden="true"
            ></ion-icon>
          </button>
        </form>

        <ul class="social-list">
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">
        Copyright 2024 All Rights Reserved by
        <a href="#" class="copyright-link">Harshit Jain</a>
      </p>
    </div>
  </div>
</footer>
    <script>
      const res = document.getElementById('result');
      console.log(res.innertext);
      
    </script>
    <script src="/js/learn.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
