:root {
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Poppins", sans-serif;
  }
  
  /* Global Colors */
  :root {
    --background-color: #ffffff;
    --background-color-rgb: 255, 255, 255;
    --default-color: #444444;
    --default-color-rgb: 68, 68, 68;
    --heading-color: #37423b;
    --heading-color-rgb: 55, 66, 59;
    --accent-color: #0068c9;
    --accent-color-rgb: 95, 207, 128;
    --contrast-color: #ffffff;
  }
  
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
.section1 {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 900px;
  overflow: clip;
}

@media (max-width: 1199px) {
  .section1 {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgba(var(--default-color-rgb), 0.5);
  position: relative;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--accent-color);
  margin: 4px 10px;
}

.section-title p {
  color: var(--heading-color);
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: var(--nav-font);
  text-transform: uppercase;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    --default-color: #ffffff;
    --default-color-rgb: 255, 255, 255;
    --background-color: #000000;
    --background-color-rgb: 0, 0, 0;
    --heading-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-color);
  }
  
  .hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .hero:before {
    content: "";
    background: rgba(var(--background-color-rgb), 0.4);
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  .hero .container {
    position: relative;
    z-index: 3;
  }
  
  .hero h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
  }
  
  .hero p {
    color: rgba(var(--default-color-rgb), 0.8);
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  
  .hero .btn-get-started {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    transition: 0.4s;
    margin-top: 30px;
    border: 2px solid var(--default-color);
    color: var(--default-color);
  }
  
  .hero .btn-get-started:hover {
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
  }
  
  @media (max-width: 768px) {
    .hero h2 {
      font-size: 32px;
    }
  
    .hero p {
      font-size: 18px;
    }
  }


/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
    padding-top: 8px;
    padding-bottom: 40px;
  }
  
  .contact .info-item+.info-item {
    margin-top: 40px;
  }
  
  .contact .info-item i {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 20px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }
  
  .contact .info-item h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .contact .php-email-form {
    height: 100%;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #ffffff;
    background: #09d2ff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: var(--background-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--accent-color);
    border-top-color: var(--background-color);
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: rgba(var(--background-color-rgb), 0.5);
    border-color: rgba(var(--default-color-rgb), 0.2);
  }
  
  .contact .php-email-form input[type=text]:focus,
  .contact .php-email-form input[type=email]:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--accent-color);
  }
  
  .contact .php-email-form input[type=text]::placeholder,
  .contact .php-email-form input[type=email]::placeholder,
  .contact .php-email-form textarea::placeholder {
    color: rgba(var(--default-color-rgb), 0.3);
  }
  
  .contact .php-email-form button[type=submit] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px 12px 30px;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: rgba(var(--accent-color-rgb), 0.8);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
    --default-color: var(--contrast-color);
    --default-color-rgb: var(--contrast-color-rgb);
    --background-color: var(--accent-color);
    --heading-color: var(--contrast-color);
    color: var(--default-color);
    background-color: var(--background-color);
    position: relative;
  }
  
  .page-title .heading {
    padding: 80px 0;
    border-top: 1px solid rgba(var(--default-color-rgb), 0.1);
  }
  
  .page-title .heading h1 {
    font-size: 38px;
    font-weight: 700;
  }
  
  .page-title nav {
    background-color: rgba(var(--default-color-rgb), 0.099);
    padding: 20px 0;
  }
  
  .page-title nav a {
    color: var(--default-color);
  }
  
  .page-title nav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
  
  .page-title nav ol li+li {
    padding-left: 10px;
  }
  
  .page-title nav ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: rgba(var(--default-color-rgb), 0.3);
  }

.flex-container{
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligned items to the top */
    height: 100vh;
    padding: 20px;
    margin: 20px;
}

.float-left{
    float: left;
    width: 40%;
    padding: 10px;
    margin-left: 20px;
    h1{
        font-size: 20px;
        color: #fff;
    }
    p{
        color: #fff;
    }
}
.float-right{
    float: right;
    width: 55%;
    padding: 10px;
    margin: auto;
    h1{
        font-size: 20px;
        color: #fff;
    }
    p{
        color: #fff;
    }
}

/* Contact Section */
.contact {
    padding-top: 8px;
    padding-bottom: 40px;
    background-color: #fff;
  }
  
  .contact .map-container {
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(var(--default-color-rgb), 0.1);
    width: 100%;
    height: 400px;
    margin: 0 auto 30px auto;
  }
  
  .contact .info-item+.info-item {
    margin-top: 40px;
  }
  
  .contact .info-item i {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 20px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }
  
  .contact .info-item h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .contact .php-email-form {
    height: 100%;
  }
  
  .contact .php-email-form .error-message,
  .contact .php-email-form .sent-message,
  .contact .php-email-form .loading {
    display: none;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message {
    background: #df1529;
    color: #ffffff;
    text-align: left;
  }
  
  .contact .php-email-form .sent-message {
    color: #ffffff;
    text-align: center;
  }
  
  .contact .php-email-form .loading {
    text-align: center;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--accent-color);
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: rgba(var(--background-color-rgb), 0.5);
    border-color: rgba(var(--default-color-rgb), 0.2);
  }
  
  .contact .php-email-form input[type=text]:focus,
  .contact .php-email-form input[type=email]:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--accent-color);
  }
  
  .contact .php-email-form input[type=text]::placeholder,
  .contact .php-email-form input[type=email]::placeholder,
  .contact .php-email-form textarea::placeholder {
    color: rgba(var(--default-color-rgb), 0.3);
  }
  
  .contact .php-email-form button[type=submit] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px 12px 30px;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: rgba(var(--accent-color-rgb), 0.8);
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  .contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px; /* Added spacing between input fields */
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: transparent; /* Removed background color */
    border-color: rgba(var(--default-color-rgb), 0.2);
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--accent-color);
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
    color: rgba(var(--default-color-rgb), 0.3);
}

.contact .php-email-form button[type=submit] {
    color: var(--contrast-color);
    background: var(--accent-color);
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
    background: rgba(var(--accent-color-rgb), 0.8);
}

/* Adjusting layout */
.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
    width: calc(100% - 20px); /* Adjusted width for better alignment */
}

.contact .php-email-form textarea {
    height: 150px; /* Increased height for the message textarea */
}

/*   === Testimonials Section Styling Starts ===   */
section.testimonials{
	width: 100%;
	padding: 100px 8%;
}
.testimonials .section-header{
	width: 70%;
	max-width: 700px;
}
.testimonials-slider .testimonials-item{
	position: relative;
	padding: 20px 25px;
	background-color: var(--primary-light-clr);
}
.testimonials-item .profile{
	display: flex;
	align-items: center;
}
.testimonials-item .profile .profile-image{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 15px;
}
.testimonials-item .profile .profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.testimonials-item .profile .profile-desc{
	display: flex;
	flex-direction: column;
}
.profile .profile-desc span:nth-child(1){
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-clr);
}
.profile .profile-desc span:nth-child(2){
	font-size: 15px;
	color: var(--dark-heading-clr);
}
.testimonials-item > p{
	margin: 15px 0px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--dark-text-clr);
}
.testimonials-item .quote{
	text-align: center;
}
.testimonials-item .quote i{
	font-size: 25px;
	color: var(--dark-text-clr);
	margin-right: 20px;
}
.testimonials-item .ratings{
	margin-top: 20px;
}
.testimonials-item .ratings i{
	font-size: 17px;
	color: gold;
	cursor: pointer;
}
/*   === Testimonials Section Styling Ends ===   */

@media(max-width: 768px){
	/* Testimonials Section */
	.testimonials .section-header{
		width: 100%;
		margin-bottom: 70px;
	}
}
/*   === Media Query Ends ===   */
.section-header h1{
	position: relative;
	font-size: 32px;
	letter-spacing: 1px;
	color: var(--dark-heading-clr);
	margin-bottom: 20px;
}
.section-header h1::before{
	position: absolute;
	content: '';
	width: 100px;
	height: 1px;
	left: 0;
	top: calc(100% + 5px);
	background-color: var(--dark-text-clr);
}
.section-header h1::after{
	position: absolute;
	content: '';
	width: 50px;
	height: 3px;
	left: 0;
	top: calc(100% + 4px);
	background-color: var(--primary-clr);
}
.section-header p{
	color: var(--dark-text-clr);
	margin-bottom: 40px;
	max-width: 700px;
}

