
.card1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
.input-group input[type="text"], .input-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.course1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
